body{
    background: #f1f1f1
}
.b-r-0, .form-control {
    border-radius: 0px;
}

.message {
    padding:  12px;
    font-size: 14px;
    text-align: center;
}

.notify{
    color: green;
    background-color: #e1ffe1;
    border: 1px solid green;
}

.error{
    color: red;
    background-color: #ffe1e1;
    border: 1px solid red;
 }

 .bg-w {
     background-color: white;
 }

 .padding-t-lg {
    padding-top: 80px;
}

.padding-t-md {
    padding-top: 40px;
}

.padding-t-sm {
    padding-top: 20px;
}

.padding-t-xs {
    padding-top: 10px;
}
.padding-xs {
    padding: 10px;
}
 
.m-t-xs {
    margin-top: 10px;
}